* # Range()

In [1]:
range(1,11) # This will return 1,2,3,4,5,6,7,8,9,10
# Numbers between 1 and 11. 1 is included and 11 is excluded

range(1, 11)

In [2]:
range(1,11,2) # This will return 1,3,5,7,9

range(1, 11, 2)

In [3]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [4]:
for _ in range(1,11):
    print(_)

1
2
3
4
5
6
7
8
9
10

In [6]:
for num in range(1,12,2):
    print(num**2)

1
9
25
49
81
121

In [16]:
for num in range(1,11):
    if num %2== 0:
        print('Even number')
    else:
        print('Odd number')
        num = num + 1

Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number

* # While loop

In [13]:
num = 1
while num <11:
    print(num)
    num = num+1

1
2
3
4
5
6
7
8
9
10

In [15]:
num = 1
while num <11:
    if num %2 != 0:
        print('Odd number')
    else:
        print('Even number')
    num = num+1

Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number

In [18]:
[print('Even number') if num %2 == 0 else print('odd number') for num in range(1,11)]

odd number
Even number
odd number
Even number
odd number
Even number
odd number
Even number
odd number
Even number

[None, None, None, None, None, None, None, None, None, None]