* # Range()

In [1]:
range(1,11) # This will return 1,2,3,4,5,6,7,8,9,10
# Numbers between 1 and 11. 1 is included and 11 is excluded

range(1, 11)

In [2]:
range(1,11,2) # This will return 1,3,5,7,9

range(1, 11, 2)

In [3]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [4]:
for _ in range(1,11):
    print(_)

1
2
3
4
5
6
7
8
9
10

In [6]:
for num in range(1,12,2):
    print(num**2)

1
9
25
49
81
121

In [16]:
for num in range(1,11):
    if num %2== 0:
        print('Even number')
    else:
        print('Odd number')
        num = num + 1

Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number

* # While loop

In [13]:
num = 1
while num <11:
    print(num)
    num = num+1

1
2
3
4
5
6
7
8
9
10

In [15]:
num = 1
while num <11:
    if num %2 != 0:
        print('Odd number')
    else:
        print('Even number')
    num = num+1

Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number
Odd number
Even number

In [18]:
[print('Even number') if num %2 == 0 else print('odd number') for num in range(1,11)]

odd number
Even number
odd number
Even number
odd number
Even number
odd number
Even number
odd number
Even number

[None, None, None, None, None, None, None, None, None, None]

In [3]:
my_list= []
for num in range(1,11,1):
    my_list.append(num**2)
    num += 1
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
[num**2 for num in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
[[num*3 for num in range(4)] for num in range(5)]

[[0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9]]

* # Dictionary Comprehension

In [7]:
name = ['Taylor', 'Morgan', 'Trena', 'Sanders']

In [8]:
dico = {k:v for k,v in enumerate(name)}

In [9]:
dico

{0: 'Taylor', 1: 'Morgan', 2: 'Trena', 3: 'Sanders'}

In [10]:
gpa = [4,3.9,3.8,3.5]

In [11]:
name_jpg = {k:v for k,v in zip(name,gpa)}
name_jpg

{'Taylor': 4, 'Morgan': 3.9, 'Trena': 3.8, 'Sanders': 3.5}

In [16]:
Brand = ['Nike', 'Adidas', 'Reebok', 'Puma', 'New Balance', 'Skechers']
Order = {k:v for k,v in enumerate(Brand)}

In [17]:
Brand

['Nike', 'Adidas', 'Reebok', 'Puma', 'New Balance', 'Skechers']

In [18]:
Order

{0: 'Nike',
 1: 'Adidas',
 2: 'Reebok',
 3: 'Puma',
 4: 'New Balance',
 5: 'Skechers'}

In [22]:
Rank = [1,2,3,4,5,6]

In [23]:
Ranking = {k:v for k,v in zip(Rank,Brand)}
Ranking

{1: 'Nike',
 2: 'Adidas',
 3: 'Reebok',
 4: 'Puma',
 5: 'New Balance',
 6: 'Skechers'}

In [24]:
def square_root_func(num):
    result = num**0.5
    return result

In [25]:
square_root_func(2)

1.4142135623730951

In [32]:
mylist = [1,2,3,4,5]

In [33]:
my_list= []
for num in range(1,11,1):
    my_list.append(num**2)
    num += 1
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
def square_func(val):
    my_list = []
    for val in range(1,11):
        my_list.append(val**2)
        val = val+1
    return my_list

In [35]:
def replace_by_zero(mylist):
    if idx, num in enumerate(mylist):
        if num < 0:
            mylist[idx] = 0
        return mylist
mylist

SyntaxError: invalid syntax (1233980945.py, line 2)

In [36]:
replace_by_zero(mylist)

NameError: name 'replace_by_zero' is not defined

In [37]:
def factorial_func(num):
    p = 1
    i = 1
    while i <= num:
        #p = p*i
        p *= i
        i += 1
    return p

In [38]:
factorial_func(3)

6

In [39]:
#!3 = 3x2x1 = 6

* # Lambda expressions

In [40]:
def squares(num):
    result = num**2
    return result

In [41]:
squares(81)

6561

In [42]:
l =lambda num: num**2

In [43]:
l(6)

36

In [44]:
ano_list = [-1,4,-5,6,7,-11,20,21,33,-77]

In [47]:
list(map(l,ano_list))

[1, 16, 25, 36, 49, 121, 400, 441, 1089, 5929]

In [49]:
filter(lambda num: num %2 == 0, ano_list)

In [51]:
md_list = [2,12,-3,5,17,22.0,99,-88]
#use map to replace the odd numbers by 0. And use filter
#to return the non-negative number

In [57]:
def rnge(a_ist):
    for i in range(len(a_ist)):
        if a_list [i]%2 != 0:
            a_list[i]= 0
    return a_list

In [58]:
map(rnge, md_list)