In [1]:
import pandas as pd
import numpy as np
import random

* # Series is just single column of data

In [4]:
data1 = [i for i in range(10)]
data1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
import string

In [11]:
alphalist = list(string.ascii_uppercase)
print(alphalist)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [12]:
index1 = [alphalist[i] for i in range(10)]
index1

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [18]:
series1 = pd.Series(data = data1, index = index1)

In [19]:
series1

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [20]:
dico = {k:v for k,v in zip(index1,data1)}

In [21]:
series2 = pd.Series(dico)
series2

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [37]:
df = pd.DataFrame(np.random.randn(5,5), index = 'A/B/C/D/E'.split('/'), columns = 'V/W/X/Y/Z'.split("/"))
df

          V         W         X         Y         Z
A  0.228977 -2.254238 -1.347421  0.853583 -0.549163
B -1.558788  0.989855  0.730965 -0.320181 -0.988147
C -1.343854  1.278751 -0.043185  0.336676 -0.057892
D -0.153398 -1.249193 -1.191085 -1.342855 -0.326094
E  0.813151  0.674015 -1.011136  0.366465  0.476412

In [38]:
df['V']

A    0.228977
B   -1.558788
C   -1.343854
D   -0.153398
E    0.813151
Name: V, dtype: float64

In [46]:
# Selectin Columns
df[['V','X']]

          V         X
A  0.228977 -1.347421
B -1.558788  0.730965
C -1.343854 -0.043185
D -0.153398 -1.191085
E  0.813151 -1.011136

In [47]:
df[['W','Y']]

          W         Y
A -2.254238  0.853583
B  0.989855 -0.320181
C  1.278751  0.336676
D -1.249193 -1.342855
E  0.674015  0.366465

In [48]:
# We use iloc to select a particular row
df.iloc[0]

V    0.228977
W   -2.254238
X   -1.347421
Y    0.853583
Z   -0.549163
Name: A, dtype: float64

In [51]:
# loc for name of the row, iloc for the integer location(position) of the row
df.loc['B']['V']

-1.5587875367888138

In [53]:
df[df['Z']> 0]

          V         W         X         Y         Z
E  0.813151  0.674015 -1.011136  0.366465  0.476412

In [54]:
df['U'] = df['V']+ df['Z'] # adding new column to the dataframe

In [55]:
df

          V         W         X         Y         Z         U
A  0.228977 -2.254238 -1.347421  0.853583 -0.549163 -0.320185
B -1.558788  0.989855  0.730965 -0.320181 -0.988147 -2.546934
C -1.343854  1.278751 -0.043185  0.336676 -0.057892 -1.401745
D -0.153398 -1.249193 -1.191085 -1.342855 -0.326094 -0.479492
E  0.813151  0.674015 -1.011136  0.366465  0.476412  1.289563

In [56]:
df[df['U'] > df['V']]

          V         W         X         Y         Z         U
E  0.813151  0.674015 -1.011136  0.366465  0.476412  1.289563